#Thu Oct 03 15:20:53 CDT 2013

# Specify the trace level. If not specified, tracing will not be enabled.
# Valid values are [all | error | warning]
WDT_TRACE=error

# Indicates if JCA should be use to connect to the remote system.
# If true, the WDT_PGMCALLJNDI property must be set to a valid JNDI name.
# Valid values are [true | false]
WDT_USEPGMCALLJCA=false

# Specify the trace file name. If not specified, trace data will be written to console.
#WDT_TRACEFILE=/EFILETX-TRACE-2.TXT
WDT_TRACEFILE=

# Specify the library list when a new connection is created to the remote system.
# Multiple libraries are delimited by the ';' character.
#    Example: ;LIB_A;LIB_B
WDT_RUNTIMELIB=;NETSRVCMD;QGPL;QTEMP;RVILIB;CASLIB;QS36F

# Indicates if Secure Socket Layer connections should be use to connect to the remote system.
# SSL requires a server at release V4R4 or later.
# Valid values are [true | false]
WDT_USESSL=false

# Specify the current library when a new connection is created to the remote system.
WDT_RUNTIMECURLIB=CASLIB

# Specify the application to be called.
WDT_RUNTIMEPRG=/QSYS.LIB/CASLIB.LIB/TFREQPRCP.PGM

# Specify the position of each library in the WDT_RUNTIMELIB property.
# Valid values are [*FIRST | *LAST]
# Multiple position values are delimited by the ';' character.
#    Example: ;*FIRST;*LAST
WDT_RUNTIMELIBPOSITIONS=;*LAST;*LAST;*LAST;*LAST;*FIRST;*FIRST

# Indicates if a runtime exception should be thrown if the program call fails.
# Valid values are [true | false]
WDT_EXCEPTIONONERROR=false

# Specify the JNDI name used to look up a JCA connection.
# This property is ignored if WDT_USEPGMCALLJCA is false.
WDT_PGMCALLJNDI=

# Specify the connection factory class used to create a connection.
WDT_CONNECTIONFACTORY=iseries.programcall.base.ConnectionFactory

# Specify the remote system name.
WDT_HOSTNAME=NETDATA

# Specify a command to run when a new connection is created to the remote system.
WDT_RUNTIMEINITCMD=

# Indicates if the password specified in the WDT_PASSWORD property is encoded.
# Valid values are [true | false]
WDT_PASSWORDENCODING_ENABLE=false

# Specify the pass word used to connect to the remote system.
WDT_PASSWORD=EFILETX

# Specify the user id used to connect to the remote system.
WDT_USERID=NETDEFILE
